h1 {
    font-family: Cambria;
    font-weight: bold;
    font-style: initial;
    color: rgb(28, 29, 31);
    font-size: 35px;
}
.delete-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display: inline-block;
    width: 400px;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 40px 0px 40px;
    margin: 20px;

}
p{
    text-align: left;
    font-size: 18px
}