.show {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 40px 0px 40px;
    margin: 20px;
    /* padding: 0px 40px 0px 40px; */
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid outset;
    padding: 0.375rem 0.75rem;
    margin: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn:hover {
    color: rgb(231, 230, 240);
    background-color: #4d534d;
    border-color: #595f5a;
  }
