.neworder-div{
    margin-left: 30%;
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
}
  .placeOrder {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid outset;
    padding: 0.375rem 0.75rem;
    margin: 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .placeOrder:hover {
    color: rgb(231, 230, 240);
    background-color: #4d534d;
    border-color: #595f5a;
  }
.orderInput {
    margin-bottom: 5px;
}
h2{
    font-family: sans-serif;
    animation: inherit;
  
  }
  
  .form-control {
      display: block;
      width: 100%;
      height: calc(1rem + 1px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border-bottom: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    @media screen and (prefers-reduced-motion: reduce) {
      .form-control {
        transition: none;
      }
    }
    
    
    
    .form-control::placeholder {
      color: #6c757d;
      opacity: 1;
    }
    
    .btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      border: 1px solid outset;
      padding: 0.375rem 0.75rem;
      margin: 10px;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn:hover {
      color: rgb(231, 230, 240);
      background-color: #4d534d;
      border-color: #595f5a;
    }
  
    @media (min-width: 576px) {
      .form-inline label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
      }
     
      .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
      
    }